.process {
    max-width: max(20%, 2em);
    border: 0.1em solid gray;
    padding: 0.5em;
}

.process > *:nth-child(n + 2) {
    margin-top: 0.5em;
}

.process-label-input {
    max-width: min(30%, 3em);
}

.process-time-input {
    max-width: min(20%, 2em);
}

@media screen and (max-width: 750px) {
    .process {
        padding: 0.25em;
    }

    .process > *:nth-child(n + 2) {
        margin-top: 0.25em;
    }
}
